{% extends 'SigApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<body>
    {% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
    .texto{
        font-family: "Montserrat", sans-serif;
        }    
    .centro{
        text-align: center;
        }    
    .centroItem{
        align-items: center;
        }
    #over img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }.my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
        margin-bottom:2%;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    </style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function populate(){
        $('#selectMunicipio').change(function(){
		    var municipio = $('#selectMunicipio').find(":selected").val();
			$.ajax({
			    url:"/SigApp/updl/"+municipio,
				method: 'GET',
				dataType: "json",
				success:function(jsonData){
				var optionsLocalidades="";		
				    $('#selectLocalidad').empty();
					$('#selectLocalidad').append('<option value="00"> Seleccione Localidad </option>');
					$.each(JSON.parse(jsonData),function(i,item){
					optionsLocalidades+='<option value="'+item["fields"]["Clave_Municipio"]+'">'+item["fields"]["Nombre"]+'</option>';
					item["fields"]["Nombre"]
                    });
					$('#selectLocalidad').append(optionsLocalidades);
					console.log(jsonData);
					}
			})		
		});							
	}		
</script>


    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2" style="background-color: gainsboro;">

                <div class="row mt-3">            
                    <p class="col-12 mb-2" style="font-size: 18px;">Municipio</p>
                    <div class="centro col-12">
                        <select class="form-control form-control-sm" onchange="localidad('selectMunicipio')" TYPE=text id="selectMunicipio" name="selectMunicipio" onclick="populate();" size="1" style="text-align-last:center; width: 80%; position:absolute; left: 10%;">
                            <option class="opt" value="seleccioneI">TODOS</option>
                            {% for element in opcionesmunicipios %}
                            <option id="idmuni" value="{{element.Clave_Municipio}}">{{element.Nombre}}</option>
                            {% endfor %}
                        </select> 
                    </div>     	
                </div>
                
                <div class="row mt-5">
                    <p class="col-12 mb-2" style="font-size: 18px;">Localidad</p>
                    <div class="centro col-12">
                        <select class="form-control form-control-sm" onchange="localidad('selectLocalidad')" TYPE=text id="selectLocalidad" name="selectLocalidad" value="" size="1" style="text-align-last:center; width: 80%; position:absolute; left: 10%;" >
                            <option class="opt" value="seleccioneI">TODAS</option>
                            {% for element in localidades %}
                                <option name="localidades" value="{{element.Clave_Localidad}}">{{element.Nombre}}</option>
                            {%endfor%}
                        </select> 
                    </div>
                </div>


                <div class="row mt-5 mb-3">    
                    <p class="col-12 mb-2" style="font-size: 18px;">Nivel Educativo</p>
                    <div class="centro col-12">
                        <select class="form-control form-control-sm" onchange="filtroD('selectNivel')" class="dropDown" TYPE=text id="selectNivel" name="selectNivel" size="1" style="text-align-last:center; width: 80%; position:absolute; left: 10%;">
                            <option value="Todas" name="nivel">TODOS</option>
                            <option value="Media" name="nivel">MEDIA SUPERIOR</option>
                            <option value="Superior" name="nivel">SUPERIOR</option> 
                        </select> 
                    </div>
                </div>
               
                <div class="row mt-5 mb-3">    
                    <p class="col-12 mb-2" style="font-size: 18px;">Dominio</p>
                    <div class="centro col-12">
                        <select class="form-control form-control-sm" onchange="filtroD('selectDominio')" class="dropDown" TYPE=text id="selectDominio" name="selectDominio" size="1" style="text-align-last:center; width: 80%; position:absolute; left: 10%;">
                            <option value="Todas" name="dominios">TODAS</option>
                            <option value="Pública" name="dominios">PÚBLICO</option>
                            <option value="Privada" name="dominios">PRIVADO</option> 
                        </select> 
                    </div>
                </div>
               
                               
                <div class="row mt-5 mb-3">    
                    <p class="col-12 mb-2" style="font-size: 18px;">Tipo servicio</p>
                    <div class="centro col-12">
                        <select class="form-control form-control-sm" onchange="filtroD('selectTipoS')" class="dropDown" TYPE=text id="selectTipoS" name="selectTipoS" size="1" style="text-align-last:center; width: 80%; position:absolute; left: 10%;">
                            <option value="Todas" name="dominios">TODOS</option>
                            <option value="Pública" name="dominios">BACHILLERATO GENERAL</option>
                            <option value="Privada" name="dominios">PROFESIONAL TÉCNICO</option> 
                            <option value="Privada" name="dominios">TECNOLÓGICO</option> 
                            <option value="Privada" name="dominios">LICENCIATURA Y POSGRADO</option> 
                        </select> 
                    </div>
                </div>
                <!--Para obtener datos de las instituciones y guardarlas en vectores-->
                <div class="row mt-3">            
                    <div class="centro col-12">
                        <select TYPE=text id="NombreC" name="nombreC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option name="nombreC" value="{{ element.NombreEscuela }}"> {{ element.NombreEscuela }} </option>
                            {% endfor %}
                        </select> 
                    </div>     	
                </div>
                <div class="row mt-3">            
                    <div class="centro col-12">
                        <select TYPE=text id="LatitudC" name="LatitudC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option name="LatitudC" value="{{ element.Latitud }}"> {{ element.Latitud }} </option>
                            {% endfor %}
                        </select> 
                    </div>     	
                </div>
                <div class="row mt-3">            
                    <div class="centro col-12">
                        <select TYPE=text id="LongitudC" name="LongitudC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="LongitudC" value="{{ element.Longitud }}"> {{ element.Longitud }} </option>
                            {% endfor %}
                        </select> 
                    </div>     	
                </div>
                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="DominioC" name="DominioC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="DominioC" value="{{ element.Dominio }}"> {{ element.Dominio }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="MunicipioC" name="MunicipioC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="MunicipioC" value="{{ element.Municipio }}"> {{ element.Municipio }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="LocalidadC" name="LocalidadC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="LocalidadC" value="{{ element.Localidad }}"> {{ element.Localidad }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="NivelC" name="NivelC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="NivelC" value="{{ element.Nivel }}"> {{ element.Nivel }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="TipoServicio" name="TipoServicio" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="TipoServicio" value="{{ element.Nivel }}"> {{ element.TipoServicio }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="centro col-12">
                        <select TYPE=text id="ClaveC" name="ClaveC" onclick=""  size="1" style="text-align-last:center; width: 80%" hidden>
                            {% for element in coordenadas %}
                            <option  name="ClaveC" value="{{ element.ClaveEscuela }}"> {{ element.ClaveEscuela }} </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>

            </div>
            <div id="map" class="col-8 col-sm-9 col-md-9 col-lg-10 col-xl-10"></div>
        </div>

        <div id="app" style="visibility:hidden;" class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0 ">
                <thead>
                    <tr>
                        <th style="width:25%">Clave Institución</th>
                        <th style="width:75%">Nombre Institución</th>
                    </tr>
                </thead>
                <tbody id="mytable"></tbody>
            </table>
        </div>
    </div>
    
    <script>
        var coordenadas = new Array();
        var repetidos = new Array();
        var flag;
        

        var lat = 21.5039;
        var lng = -104.895;

        var x = document.getElementById("NombreC");
        var y = x.getElementsByTagName("*");
        

        var m = document.getElementById("LatitudC");
        var n = m.getElementsByTagName("*");
        console.log(n);
        var a = document.getElementById("LongitudC");
        var b = a.getElementsByTagName("*");

        var c = document.getElementById("DominioC");
        var d = c.getElementsByTagName("*");

        var e = document.getElementById("LocalidadC");
        var f = e.getElementsByTagName("*");

        var g = document.getElementById("NivelC");
        var h = g.getElementsByTagName("*");

        var i = document.getElementById("TipoServicio");
        var j = i.getElementsByTagName("*");

        var k = document.getElementById("MunicipioC");
        var l = k.getElementsByTagName("*");

        var o = document.getElementById("ClaveC");
        var p = o.getElementsByTagName("*");

        for(var i = 0; i<y.length; i++){
            coordenadas[i] = new Array();
            coordenadas[i][0] = y[i].innerHTML;
            coordenadas[i][1] = n[i].innerHTML; //Latitud
            coordenadas[i][2] = b[i].innerHTML; //Longitud
            coordenadas[i][3] = d[i].innerHTML; //Dominio (Pública - Privada)
            coordenadas[i][4] = f[i].innerHTML; //Localidad
            coordenadas[i][5] = h[i].innerHTML; //Nivel (Media superior - Superior)
            coordenadas[i][6] = j[i].innerHTML; //Tipo servicio (Bachillerato, Tecnológico, Licenciatura y posgrado)
            coordenadas[i][7] = l[i].innerHTML; //Municipio
            coordenadas[i][8] = p[i].innerHTML; //Clave
        }

        function filtroD(parametro){
            var parametroF = document.getElementById(parametro).options[document.getElementById(parametro).selectedIndex].text;
            parametroF = parametroF.toUpperCase();
            //Comienza filtro para dominio **Falta añadir en if el filtro de nivel**
                for(var i = 0; i< y.length; i++){
                    if(d[i].innerHTML  == " "+parametroF+" " || f[i].innerHTML  == " "+parametroF+" " || h[i].innerHTML  == " "+parametroF+" " || j[i].innerHTML  == " "+parametroF+" " || l[i].innerHTML  == " "+parametroF+" "){
                        coordenadas[i] = new Array();
                        coordenadas[i][0] = y[i].innerHTML;
                        coordenadas[i][1] = n[i].innerHTML; //Latitud
                        coordenadas[i][2] = b[i].innerHTML; //Longitud
                        coordenadas[i][3] = d[i].innerHTML; //Dominio (Pública - Privada)
                        coordenadas[i][4] = f[i].innerHTML; //Localidad
                        coordenadas[i][5] = h[i].innerHTML; //Nivel
                        coordenadas[i][6] = j[i].innerHTML; //Tipo servicio (Bachillerato, Tecnológico, Licenciatura y posgrado)
                        coordenadas[i][7] = l[i].innerHTML; //Municipio
                        coordenadas[i][8] = p[i].innerHTML; //Clave
                    }else{
                        if(parametroF  == "TODAS" || parametroF  == "TODOS" || parametroF == "Seleccione Localidad"){
                            coordenadas[i] = new Array();
                            coordenadas[i][0] = y[i].innerHTML;
                            coordenadas[i][1] = n[i].innerHTML; //Latitud
                            coordenadas[i][2] = b[i].innerHTML; //Longitud
                            coordenadas[i][3] = d[i].innerHTML; //Dominio (Pública - Privada)
                            coordenadas[i][4] = f[i].innerHTML; //Localidad
                            coordenadas[i][5] = h[i].innerHTML; //Nivel
                            coordenadas[i][6] = j[i].innerHTML; //Tipo servicio (Bachillerato, Tecnológico, Licenciatura y posgrado)
                            coordenadas[i][7] = l[i].innerHTML; //Municipio
                            coordenadas[i][8] = p[i].innerHTML; //Clave
                            
                        }else{
                            coordenadas[i] = new Array();
                            coordenadas[i][0] = null;
                            coordenadas[i][1] = null; //Latitud
                            coordenadas[i][2] = null; //Longitud
                            coordenadas[i][3] = null; //Dominio (Pública - Privada)
                            coordenadas[i][4] = null; //Localidad
                            coordenadas[i][5] = null; //Nivel
                            coordenadas[i][6] = null; //Tipo servicio (Bachillerato, Tecnológico, Licenciatura y posgrado)
                            coordenadas[i][7] = null; //Municipio
                            coordenadas[i][8] = null; //Clave
                        } 
                    }
                    
                }
                initMap();
        }
        
        function geocodeM(){
            var x = document.getElementById("selectMunicipio").selectedIndex;
            var municipiomap = document.getElementsByTagName("option")[x].text;
            var location = municipiomap+', Nayarit';
            axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                params:{
                    address: location,
                    key: 'AIzaSyCTxSMcxMgxCcH1cSnayhlYFU6UU4AGTw4'
                }
            })
            .then(function(response){  
                console.log(response);
                lat = response.data.results[0].geometry.location.lat;
                lng = response.data.results[0].geometry.location.lng;
                initMap();
                
            })
            .catch(function(error){
                console.log(error);
            });
        }
        
        function initMap(){ 
            //Opciones del mapa
            var options = {
                zoom: 14,
                center: { lat, lng }
            }
            //Mapa nuevo
            var map = new google.maps.Map(document.getElementById('map'), options);
            var marker, i;
            var infowindow = new google.maps.InfoWindow;
            //Arreglo de marcadores
            var flag = 0;
            var c = 0;
            for (i = 0; i < coordenadas.length; i++) {  
                
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(coordenadas[i][1], coordenadas[i][2]),
                map: map
                });
                console.log("-----",flag,i);
                if(flag == 0){
                    console.log("Cuando es CERO",i);
                    repetidos[flag] = new Array();
                    repetidos[flag][0] = coordenadas[i][1];
                    repetidos[flag][1] = coordenadas[i][2];
                    repetidos[flag][2] = coordenadas[i][8];
                    repetidos[flag][3] = coordenadas[i][0];
                    flag++;
                    console.log(coordenadas[i][1],i);
                }else {
                    var dato1 = repetidos[flag-1][0];
                    var dato2 = coordenadas[i][1];
                    if(Object.is(dato1, dato2)){
                        console.log("ESTA REPETIDO-----------------",i);
                        repetidos[flag] = new Array();
                        repetidos[flag][0] = coordenadas[i][1];
                        repetidos[flag][1] = coordenadas[i][2];
                        repetidos[flag][2] = coordenadas[i][8];
                        repetidos[flag][3] = coordenadas[i][0];
                        flag++;
                        console.log(coordenadas[i][1],i);
                    }else{
                        if(flag == 1){
                            c++;
                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                return function() {
                                infowindow.setContent("<div class='centro' style='vertical-align:middle; text-align:center'><img class='rounded' heiht = '200' width = '200' src = 'http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg' align='center' style='margin-left:10px;'></div><div class='centro' style='vertical-align:middle; text-align:center'><a href=# onclick='redirecciona()' style='margin:20px'>"+coordenadas[i][0]+"<br><a id='claveMapa'>"+coordenadas[i][8]+"</a>")+"</a></div>";
                                infowindow.open(map, marker); 
                                }
                            })(marker, i));
                        }else{
                            c++;
                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                return function() {
                                infowindow.setContent("<div class='centro' style='vertical-align:middle; text-align:center'><p>Esta ubicación contiene mas de una institución, da click en listar para visualizar<br></p><br><button onclick='listar(repetidos)'>Listar</button></div>");
                                infowindow.open(map, marker); 
                                }
                            })(marker, i));    
                        }//
                        

                        console.log("No esta repetido, continua",i);
                        console.log(repetidos); //
                        repetidos.splice(0,flag);
                        flag=0;
                        
                        //rep[i] = new Array();
                        //rep[i][0] = coor[i][0];
                        //rep[i][1] = coor[i][1];
                    }  
                }
                
            }
            console.log(c);
            //Verificando si existe contenido
                if(props.content){
                    var infoVentana = new google.maps.InfoWindow({
                    content: props.content
                    });

                    marker.addListener('click', function(){
                    infoVentana.open(map, marker);
                    });
                }
            }
 
        function redirecciona(){
            var claveC = document.getElementById('claveMapa').innerHTML;
            
            location.replace("institucionesUbicacion/id/"+claveC.trimLeft())
        }
        function geoCodeL(){
            var localidadmap = document.getElementById("selectLocalidad").options[document.getElementById("selectLocalidad").selectedIndex].text;
            var z = document.getElementById("selectMunicipio").selectedIndex;
            var municipio = document.getElementsByTagName("option")[z].text;

            var location = localidadmap+",'"+municipio+"'"+",Nayarit";
            axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                params:{
                    address: location,
                    key: 'AIzaSyCTxSMcxMgxCcH1cSnayhlYFU6UU4AGTw4'
                }
            })
            .then(function(response){  
                console.log(response);
                lat = response.data.results[0].geometry.location.lat;
                lng = response.data.results[0].geometry.location.lng;
                initMap();
                
            })
            .catch(function(error){
                console.log(error);
            });
        }

        function localidad(parametro){
            geoCodeL();
            filtroD(parametro);

        }
        var stop = 0;
        function listar(ar){
            document.getElementById("app").style.visibility = "visible";
            
            if(stop>0){  
            }else{
                for(i = 0; i < ar.length; i++){
                    var tr = document.createElement('tr');
                    var td1 = document.createElement('td');
                    var td2 = document.createElement('td');

                    var a = document.createElement('a');
                    var pLat = ar[i][2];
                    a.href = "institucionesUbicacion/id/"+pLat.trimLeft();
                    

                    a.textContent = ar[i][2];
                    td1.appendChild(a);
                    td2.textContent = ar[i][3];
                    tr.appendChild(a);
                    tr.appendChild(td2);
                    var app = document.querySelector('#mytable');
                    app.appendChild(tr);  
                    stop++;
                }
            }
            
            
            
        }
        
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTxSMcxMgxCcH1cSnayhlYFU6UU4AGTw4&callback=initMap"
    async defer></script>
    
</body>
{% endblock %}
</html>