{% extends 'SigApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<body>
    {% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
    .texto{
        font-family: "Montserrat", sans-serif;
        }    
    .centro{
        text-align: center;
        }    
    .centroItem{
        align-items: center;
        }
    #over img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    </style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2" style="background-color: gainsboro; margin-bottom: 5px;">

                <div class="row mb-3 ">    
                    <p class="col-12 mb-2" style="margin-top: 15%; text-align: center; font-size: 15px; font-weight: bold;">Clave de centro de trabajo</p>
                    <div class="centro col-12">
                        <input class="col-12 mb-2" id="clave" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.ClaveEscuela}}" disabled></input>
                    </div>
                </div>

                <div class="row mb-3">    
                    <p class="col-12 mb-2" style="text-align: center; font-size: 15px; font-weight: bold;">Nivel Educativo</p>
                    <input class="col-12 mb-2" id="nivel" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.Nivel}}" disabled></input>
                </div>
               
                <div class="row mb-3">    
                    <p class="col-12 mb-2" style="text-align: center; font-size: 15px; font-weight: bold;">Tipo de Servicio</p>
                    <input class="col-12 mb-2" id="servicio" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.TipoServicio}}" disabled></input>
                </div>

                <div class="row mb-3">    
                    <p class="col-12 mb-2" style="text-align: center; font-size: 15px; font-weight: bold;">Municipio</p>
                    <input class="col-12 mb-2" id="municipio" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.Municipio}}" disabled></input>
                </div>
                <div class="row mb-3">    
                    <p class="col-12 mb-2" style="text-align: center; font-size: 15px; font-weight: bold;">Localidad</p>
                    <input class="col-12 mb-2" id="localidad" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.Localidad}}" disabled></input>
                </div>

                <div class="row mb-3 " style"margin-bottom: 20px;">    
                    <p class="col-12 mb-2" style="text-align: center; font-size: 15px; font-weight: bold;">Direccion</p>
                    <textarea class="col-12 mb-2" id="calle" style="text-align: center; font-size: 15px; padding: 2%;" value="{{escuela.Calle}}" disabled>{{escuela.Calle}} {{escuela.CodPostal}}</textarea>
                </div>
                

               
                <input class="col-12 mb-2" id="latitud" style="font-size: 18px;" value="{{escuela.Latitud}}" hidden></p>
                <input class="col-12 mb-2" id="longitud" style="font-size: 18px;" value="{{escuela.Longitud}}" hidden></p>
                <input class="col-12 mb-2" id="nombre" style="font-size: 18px;" value="{{escuela.NombreEscuela}}" hidden></input>
                
                
                
            </div>
            <div id="map" class="col-8 col-sm-9 col-md-9 col-lg-10 col-xl-10"></div>
        </div>
    </div>
    
    <script>

        //21.1752
        //-105.135    
        var lat = parseFloat(document.getElementById("latitud").value);
        var lng = parseFloat(document.getElementById("longitud").value);

        var nombre = document.getElementById("nombre").value;
        var clave = document.getElementById("clave").value;
        console.log(lat,lng, nombre,clave);

        function initMap(){ 

            //Opciones del mapa
            var options = {
                 lat: lat , lng: lng };
            //Mapa nuevo
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13, center: options});
            var infowindow = new google.maps.InfoWindow;
             
            var marker = new google.maps.Marker({
                position: options,
                map: map,
            });

            map.addListener('center_changed', function() {
            // 3 seconds after the center of the map has changed, pan back to the
            // marker.
                window.setTimeout(function() {
                    map.panTo(marker.getPosition());
                }, 3000);
            });

            marker.addListener('click', function() {
                map.setZoom(16);
                map.setCenter(marker.getPosition());
            });


            
            google.maps.event.addListener(marker, 'click', (function(marker, options) {
                return function() {
                infowindow.setContent("<div class='centro' style='vertical-align:middle; text-align:center'><img class='rounded' heiht = '200' width = '200' src = 'http://cdn.24.co.za/files/Cms/General/d/6847/c17d0c2399a54d39a9490b1b03769a99.jpg' align='center' style='margin-left:10px;'></div><div class='centro' style='vertical-align:middle; text-align:center'><a href=# onclick='redirecciona()' style='margin:20px'>"+nombre+"<br><a id='claveMapa'>"+clave+"</a>")+"</a></div>";
                infowindow.open(map, marker);
                }
            })(marker, options));
        }
 
        function redirecciona(){
            var claveC = document.getElementById('claveMapa').innerHTML;
        
            window.location.href ="/SigApp/institucionesUbicacion/id/"+claveC;
            
        }
    </script>

    <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTxSMcxMgxCcH1cSnayhlYFU6UU4AGTw4&callback=initMap">
    </script>
    
</body>
{% endblock %}
</html>