{% extends 'SigApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<body>
  {% block content %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
                .texto{
                    font-family: "Montserrat", sans-serif;
                }
            
                .centro{
                    text-align: center;
                }
            
                .centroItem{
                    align-items: center;
                }
                a{
                    color: black;
                }
                a:hover{
                    color:grey;
                }
                #map {
                  height: 400px;  /* The height is 400 pixels */
                  width: 100%;  /* The width is the width of the web page */
                }
              </style>
    <div class="container-fluid">
        <!--Panel general (derecho)-->
        <div class="row bg-light m-2">
            <!--Nav bar izquierdo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-3 col-xl-2" style="background-color: white; height: 80vh;">

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active disabled" style="margin-top:5%; ">
                        Menú
                    </a>
                    <a href="/SigApp/modificacionesAdmin/{{ user.departamento_id }}/" class="list-group-item list-group-item-action">Solicitudes de Modificación</a>
                    <a href="/SigApp/listado_historial/" class="list-group-item list-group-item-action">Historial (Gral)</a>
                    <a href="/SigApp/listado_historialEst/" class="list-group-item list-group-item-action">Historial (Estad)</a>
                </div>

            </div>
            <div class="col-9 bg-light ml-1 mt-5" style="height: 40px;">
                <p style="font-size:20px; margin-bottom: 50px; margin-left: 150px;">Datos a modificar de la institución: <b>{{ nombreI }}</b></p>
                
            <div class="container centro col-2 col-lg-10 bg-light" style="margin-left: 15%; margin-top: 5%;">
              <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Información original</th>
                    <th colspan="2">Información a modificar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Institución</th>
                    <td>{{ nombreI }}</td>
                    <td>{{ nombreTE }}</td>
                  </tr>
                  <tr>
                    <th>Clave</th>
                    <td>{{ clave }}</td>
                    <td>{{ claveTE }}</td>
                  </tr>
                  <tr>
                    <th>Municipio</th>
                    <td>{{ municipio }}</td>
                    <td>{{ municipioTE }}</td>
                  </tr>
                  <tr>
                    <th>Localidad</th>
                    <td>{{ localidad }}</td>
                    <td>{{ localidadTE }}</td>
                  </tr>
                  <tr>
                    <th>Estatus</th>
                    <td>{{ estatus }}</td>
                    <td>{{ estatusTE }}</td>
                  </tr>
                  <tr>
                    <th>Director</th>
                    <td>{{ director }}</td>
                    <td>{{ directorTE }}</td>
                  </tr>
                  <tr>
                    <th>Dirección</th>
                    <td>{{ direccion }}</td>
                    <td>{{ direccionTE }}</td>
                  </tr>
                </tbody>
              </table><hr>
              <ul>
                <li style="text-align: left;">Puede hacer "zoom" en el mapa para mejorar la vision de las localizaciones</li>
              </ul>                    
              <div id="map" ></div><hr>

              <form method="post" id="form" name="form">
                {% csrf_token %}
                <div style="text-align: left; padding: 2px; margin-bottom: 10%;">
                  <div class="form-check" style="margin-top: 3%; margin-bottom: 2px;">
                    <input onchange="showContent()" class="form-check-input" type="checkbox" name="defaultCheck1" id="defaultCheck1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <label class="form-check-label" for="defaultCheck1" style="font: italic;" >
                      Quiero rechazar está información
                    </label>
                    <hr>
                  </div> 
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p class="" style="text-align: left; font-size: 15px; font-weight: bold;">Indique la razón para no modificar la información:</p>
                      <textarea required minlength="5" type="text" id="razon" name="razon" rows="5" class="col-12 mb-4"  style="text-align: left; font-size: 15px; padding: 1%;" placeholder="Describa el motivo para rechazar esta modificación" ></textarea>
                      <input onclick="a()" type="button" class="btn btn-secondary btn-lg btn-block" value="Rechazar"></input>
                    </div>
                  </div>
                  {% comment %} por favor la longitud de este texto debe ser minimo 25 caracteres {% endcomment %}
                
                  <input onclick="a()" id="aceptar" type="button" class="btn btn-success btn-lg btn-block" value="Aceptar"></input>
                  <input type="text" id="latitud_prev" name="latitud_prev" value="{{ latitud }}" style="visibility: hidden;"></input>
                  <input type="text" id="longitud_prev" name="longitud_prev" value="{{ longitud }}" style="visibility: hidden;"></input>
                  <input type="text" id="latitud_new" name="latitud_new" value="{{ latitudTE }}" style="visibility: hidden;"></input>
                  <input type="text" id="longitud_new" name="longitud_new" value="{{ longitudTE }}" style="visibility: hidden;"></input>

                  
                </div>
              </form>            
            </div>
            </div>
        </div>
    </div>
</body>
<script>
  
  function a(){
    var a = document.forms["form"]["razon"].value;
    check = document.getElementById("defaultCheck1");
    if (check.checked){
      if (a != "" ) {
        if (confirm('¿Estas seguro de RECHAZAR este modificación?')){ 
          alert("La información ha sido rechazada, se le notificara a la institución");
          document.form.submit()
        }
      }else{
        alert("Completa los campos!");
      }
              
    }else{
      if (confirm('¿Estas seguro de ACEPTAR este modificación?')){ 
      alert("¡La información se ha actualizado correctamente!");
      document.form.submit()
      }
    }
  
  }

  function showContent() {
    element = document.getElementById("aceptar");
    check = document.getElementById("defaultCheck1");
    if (check.checked) {
        element.style.visibility = "hidden"
      }else {
        element.style.visibility = "visible"
      }
  }

  var lat1 = parseFloat(document.getElementById("latitud_prev").value);
  var lng1 = parseFloat(document.getElementById("longitud_prev").value);
  var lat2 = parseFloat(document.getElementById("latitud_new").value);
  var lng2 = parseFloat(document.getElementById("longitud_new").value);

  //var lat3 = parseFloat(document.getElementById("la").value);
  //var lng3 = parseFloat(document.getElementById("lo").value);
  //21.808285000141616
  //-105.20599021412804

  console.log(lat3); 

  function initMap() {
    var myLatlng = {lat: lat1, lng: lng1}; 
    var myLatlngNew = {lat: lat2, lng: lng2}; 

    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: myLatlng});

    // Create the initial InfoWindow.
    var infoWindow = new google.maps.InfoWindow(
        {content: 'Actual Localización', position: myLatlng});
    infoWindow.open(map);

   var infoWindow = new google.maps.InfoWindow(
        {content: 'Nueva Localización', position: myLatlngNew});
    infoWindow.open(map);
    

  }

</script>

<script async defer 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTxSMcxMgxCcH1cSnayhlYFU6UU4AGTw4&callback=initMap">
</script>
{% endblock %}
</html>

{% comment %} 
  function confirmacion2(){
    check = document.getElementById("defaultCheck1");
    if (check.checked) {
      if (confirm('¿Estas seguro de RECHAZAR este modificación?')){ 
        document.form.submit()
        alert("La información ha sido rechazada, se le notificara a la institución");
      }
    }else{
      if (confirm('¿Estas seguro de ACEPTAR este modificación?')){ 
        document.form.submit()
        alert("¡La información se ha actualizado correctamente!");
      }
    }
  }  {% endcomment %}
