{% extends 'SigApp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<body>
  {% block content %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
                .texto{
                    font-family: "Montserrat", sans-serif;
                }
            
                .centro{
                    text-align: center;
                }
            
                .centroItem{
                    align-items: center;
                }
                a{
                    color: black;
                }
                a:hover{
                    color:grey;
                }
                .my-custom-scrollbar {
                    position: relative;
                    overflow: auto;
                }
                .table-wrapper-scroll-x {
                    display: block;
              </style>
    <div class="container-fluid">
        <!--Panel general (derecho)-->
        <div class="row bg-light m-2">
            <!--Nav bar izquierdo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-3 col-xl-2" style="background-color: white; height: 80vh;">

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active disabled" style="margin-top:5%; ">
                        Menú
                    </a>
                    <a href="/SigApp/modificacionesAdmin/{{ user.departamento_id }}/" class="list-group-item list-group-item-action">Solicitudes de Modificación</a>
                    <a href="/SigApp/listado_historial/" class="list-group-item list-group-item-action">Historial (Gral)</a>
                    <a href="/SigApp/listado_historialEst/" class="list-group-item list-group-item-action">Historial (Estad)</a>
                </div>

            </div>

            <div class="col-8 bg-light mt-3" style="margin-left: 8%;">
              <div class="container col-2 col-lg-10 bg-light" style="margin-left: 15%;">
                <label style="font-size:20px; margin-left: -20%; margin-bottom: 8%; margin-top: 5%; ">
                  <b>Información estadistica de la institución:</b>
                  {{ escuela.NombreEscuela }}<br>
                  <b>RVOE: </b>
                  {{rvoe.NombreCarrera }}<br>
                  <b>Clave Carrera: </b>
                  {{rvoe.ClaveCarrera }}
                </label>
              </div>
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-hover" style="centro">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Total 1er</th>
                      <th scope="col">Total 2do</th>
                      <th scope="col">Total 3ro</th>
                      <th scope="col">Total 4to</th>
                      <th scope="col">Total 5to</th>
                      <th scope="col">Total 6to</th>
                      <th scope="col">Hombres</th>
                      <th scope="col">Mujeres</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Modalidad</th>
                      <th scope="col">Periodos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Est. Actual</th>
                      <td>{{ rvoe.TotalPrimero }}</td>
                      <td>{{ rvoe.TotalSegundo }}</td>
                      <td>{{ rvoe.TotalTercero }}</td>
                      <td>{{ rvoe.TotalCuarto }}</td>
                      <td>{{ rvoe.TotalQuinto }}</td>
                      <td>{{ rvoe.TotalSexto }}</td>
                      <td>{{ rvoe.TotalHombres }}</td>
                      <td>{{ rvoe.TotalMujeres }}</td>
                      <td>{{ rvoe.Tipo }}</td>
                      <td>{{ rvoe.Modalidad }}</td>
                      <td>{{ rvoe.Periodos }}</td>

                    </tr>
                    <tr>
                      <th>Est. Modificada</th>
                      <td>{{ rvoe_temp.TotalPrimero_temp }}</td>
                      <td>{{ rvoe_temp.TotalSegundo_temp }}</td>
                      <td>{{ rvoe_temp.TotalTercero_temp }}</td>
                      <td>{{ rvoe_temp.TotalCuarto_temp }}</td>
                      <td>{{ rvoe_temp.TotalQuinto_temp }}</td>
                      <td>{{ rvoe_temp.TotalSexto_temp }}</td>
                      <td>{{ rvoe_temp.TotalHombres_temp }}</td>
                      <td>{{ rvoe_temp.TotalMujeres_temp }}</td>
                      <td>{{ rvoe_temp.Tipo_temp }}</td>
                      <td>{{ rvoe_temp.Modalidad_temp }}</td>
                      <td>{{ rvoe_temp.Periodos_temp }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form method="post" id="form" name="form" >
                {% csrf_token %}
                <div style="text-align: center; padding: 2px; margin-bottom: 10%;">
                  <div class="form-check" style="margin-top: 3%; margin-bottom: 2px;">
                    <input onchange="showContent()" class="form-check-input" type="checkbox" name="defaultCheck1" id="defaultCheck1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <label class="form-check-label" for="defaultCheck1" style="font: italic;" >
                      Quiero rechazar está información
                    </label>
                    <hr>
                  </div> 
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p class="" style="text-align: left; font-size: 15px; font-weight: bold;">Indique la razón para no modificar la información:</p>
                      <textarea required minlength="5" type="text" id="razon" name="razon" rows="5" class="col-12 mb-4"  style="text-align: left; font-size: 15px; padding: 1%;" placeholder="Describa el motivo para rechazar esta modificación" ></textarea>
                      <input onclick="a()" type="button" class="btn btn-secondary btn-lg btn-block" value="Rechazar"></input>
                    </div>
                  </div>
                  {% comment %} por favor la longitud de este texto debe ser minimo 25 caracteres {% endcomment %}
                
                  <input onclick="a()" id="aceptar" type="button" class="btn btn-success btn-lg btn-block" value="Confirmar"></input>
                  
                </div>
              </form>            
            </div>
          </div>
        </div>
    </div>
</body>
<script>
  
  function a()
  {
    var a = document.forms["form"]["razon"].value;
    check = document.getElementById("defaultCheck1");
    if (check.checked){
      if (a != "" ) {
        if (confirm('¿Estas seguro de RECHAZAR este modificación?')){ 
          alert("La información ha sido rechazada, se le notificara a la institución");
          document.form.submit()
        }
      }else{
        alert("Completa los campos!");
      }
              
    }else{
      if (confirm('¿Estas seguro de ACEPTAR este modificación?')){ 
      alert("¡La información se ha actualizado correctamente!");
      document.form.submit()
      }
    }
  
  }

  function showContent() {
    element = document.getElementById("aceptar");
    check = document.getElementById("defaultCheck1");
    if (check.checked) {
        element.style.visibility = "hidden"
      }else {
        element.style.visibility = "visible"
      }
  }

  

</script>
{% endblock %}
</html>

{% comment %} 
  function confirmacion2(){
    check = document.getElementById("defaultCheck1");
    if (check.checked) {
      if (confirm('¿Estas seguro de RECHAZAR este modificación?')){ 
        document.form.submit()
        alert("La información ha sido rechazada, se le notificara a la institución");
      }
    }else{
      if (confirm('¿Estas seguro de ACEPTAR este modificación?')){ 
        document.form.submit()
        alert("¡La información se ha actualizado correctamente!");
      }
    }
  }  {% endcomment %}
